html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.header {
    background-color: #f2f2f2;
    padding: 10px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-title {
    font-size: 24px;
    color: #333;
    margin: 0;
}

.header-navigation {
    margin-left: 20px;
}

.header-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header-menu-item {
    display: inline-block;
    margin-right: 10px;
}

    .header-menu-item a {
        text-decoration: none;
        color: #333;
    }

        .header-menu-item a:hover {
            text-decoration: underline;
        }

.add-note-button {
    font-size: 16px;
    background-color: #337ab7;
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
}

    .add-note-button:hover {
        background-color: #23527c;
    }

.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

